{% extends 'Base.html' %}

{% block content %}
   {% if g.agent %}
     {% include 'nav_bar.html' %}
       {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
          {% endif %}
       {% endwith %}
       <h1 class="text-gray-dark text-center mt-2">Pointage de la presence</h1>
       <div class="row">
        <div class="col-4 offset-4">
            <div class="card card-cascade">

    <!--Card image-->
                <div class="view gradient-card-header aqua-gradient">
                    <h2 class="h2-responsive">Pointage</h2>
                    <p>Arrivee</p>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body text-center">

                    <p class="card-text">Nom :{{ g.agent['nom'] }}</p>
                    <p class="card-text">Postnom :{{ g.agent['postnom'] }}</p>
                    <p class="card-text">Prenom :{{ g.agent['prenom'] }}</p>
                    <p class="card-text">Date :{{ today_date }}</p>
                    <p class="card-text">Heure :{{ hour_now }}</p>
                </div>
    <!--/.Card content-->
               {% if is_mark %}
                     <div class="card-footer center">
                    <a class="btn btn-danger ml-5 ml-5 disabled" href="{{ url_for('marquer_presence')}}">Marquer Presence</a>
                </div>
               {% else %}
                    <div class="card-footer center">
                    <a class="btn btn-danger ml-5 ml-5" href="{{ url_for('marquer_presence')}}">Marquer Presence</a>
                </div>
               {% endif %}
            </div>
        </div>
       </div>

    {% else %}
       <h1 class="text-center text-gray-dark mt-5">Veuillez Vous Connecter</h1>
     <div class="col-lg-6 offset-lg-5" style="margin-top: 20%">
           <div class="row">
               <div class="col-lg-8"><a href="{{ url_for('admin_log') }}" class="btn btn-primary p-4 text-center">Administrateur</a> </div>
               <div class="col-lg-8"><a href="{{ url_for('agents_log') }}" class="btn btn-primary p-4 text-center">Agents Simple</a> </div>
           </div>
        </div>
    {% endif %}
{% endblock %}