{% extends 'Base.html' %}
{% block content %}
   {% if g.admin %}
     {% include 'nav_bar_admin.html' %}
        <form method="post" action="{{ url_for('ajout_action') }}">
         <section class="form-simple col-md-4 offset-4" style="margin-top: 2%">
        <!--Header-->

            <!--Body-->
            <div class="md-form">
                <input type="text" id="nom" class="form-control" name="nom">
                <label for="nom">nom</label>
            </div>
            <div class="md-form">
                <input type="text" id="postnom" class="form-control" name="postnom">
                <label for="postnom">postnom</label>
            </div>

            <div class="md-form pb-3">
                <input type="text" id="prenom" class="form-control" name="prenom">
                <label for="prenom">prenom</label>
            </div>
            <div class="md-form pb-3">
                <input type="text" id="date_naiss" class="form-control" name="date_naiss">
                <label for="date_naiss">date de naissance</label>
            </div>
             <div class="md-form pb-3">
                <input type="text" id="date_eng" class="form-control" name="date_eng">
                <label for="date_eng">date d'engagement</label>
            </div>

            <div class="md-form pb-3">
                <input type="text" id="adresse" class="form-control" name="adresse">
                <label for="date_naiss">adresse</label>
            </div>
            <div class="md-form pb-3">
                <input type="text" id="etat_civile" class="form-control" name="etat_civile">
                <label for="etat_civile">etat civile</label>
            </div>
            <div class="md-form pb-3">
                <input type="text" id="sexe_agent" class="form-control" name="sexe_agent">
                <label for="sexe_agent">sexe agent</label>
            </div>

            <div class="md-form pb-3">
                <input type="password" id="password" class="form-control" name="password">
                <label for="date_naiss">mots de passe</label>
            </div>

            <div class="text-center mb-4">
                <button type="submit" class="btn btn-green btn-block z-depth-2">Ajouter Agent</button>
            </div>

    <!--/Form with header-->

        </section>
    </form>



    {% else %}
       <h1 class="text-center text-gray-dark mt-5">Veuillez Vous Connecter</h1>
     <div class="col-lg-6 offset-lg-5" style="margin-top: 20%">
           <div class="row">
               <div class="col-lg-8"><a href="{{ url_for('admin_log') }}" class="btn btn-primary p-4 text-center">Administrateur</a> </div>
               <div class="col-lg-8"><a href="{{ url_for('agents_log') }}" class="btn btn-primary p-4 text-center">Agents Simple</a> </div>
           </div>
        </div>
    {% endif %}
{% endblock %}