{% extends 'Base.html' %}

{% block content %}
    {% if g.admin %}
        {% include 'nav_bar_admin.html' %}
        <div class="row mt-2">
            {% for agent_list in list_agent %}

                    <div class="col-3">
                    <div class="card card-cascade">

            <!--Card image-->
                        <div class="view gradient-card-header aqua-gradient">
                            <h2 class="h2-responsive">Identites</h2>
                        </div>
                        <!--/Card image-->

                        <!--Card content-->
                        <div class="card-body text-center">

                            <p class="card-text">Nom :{{ agent_list['nom'] }}</p>
                            <p class="card-text">Postnom :{{ agent_list['postnom'] }}</p>
                            <p class="card-text">Prenom :{{ agent_list['prenom'] }}</p>
                            <p class="card-text">date de naissance :{{ agent_list['datenaissance'] }}</p>
                            <p class="card-text">etat civile :{{ agent_list['etatcivil'] }}</p>
                            <p class="card-text">etat civile :{{ agent_list['adresse_agent'] }}</p>
                            <p class="card-text">date d'engagement :{{ agent_list['dateengagement'] }}</p>
                            <p class="card-text">sexe agent :{{ agent_list['sexe_agent'] }}</p>

                        </div>
            <!--/.Card content-->
                        <div class="card-footer center">
                            <a class="btn btn-danger ml-5 ml-5" href="{{ url_for('modifier_agent')}}">Modifier</a>
                           <a class="btn btn-danger ml-5 ml-5" href="{{ url_for('supprimer_agent', id=agent_list['idagent']) }}">Supprimer</a>
                        </div>

                    </div>
                </div>


            {% endfor %}
        <section>
            <div class="fixed-bottom" style="bottom: 5%; left: 90%;">
                <a class="btn-floating btn-lg red waves-effect waves-light" href="{{ url_for('ajouter_agent') }}">
                    <i style="font-size: 14px">Ajouter</i>
                </a>
            </div>
        </section>
        </div>
    {% endif %}
{% endblock %}