{% extends 'Base.html' %}
{% block content %}
   {% if g.admin %}
     {% include 'nav_bar_admin.html' %}
    {% else %}
       <h1 class="text-center text-gray-dark mt-5">Veuillez Vous Connecter</h1>
     <div class="col-lg-6 offset-lg-5" style="margin-top: 20%">
           <div class="row">
               <div class="col-lg-8"><a href="{{ url_for('admin_log') }}" class="btn btn-primary p-4 text-center">Administrateur</a> </div>
               <div class="col-lg-8"><a href="{{ url_for('agents_log') }}" class="btn btn-primary p-4 text-center">Agents Simple</a> </div>
           </div>
        </div>
    {% endif %}
{% endblock %}