<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title %} {% endblock %}</title>
    {% block links %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/compiled.min.css') }}">
</head>
<body>
    {% block navbar %}

    {% endblock %}

    {% block content %}
    {% endblock %}

   <footer>
       {% block footer %}
       {% endblock %}
   </footer>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/mdb.min.js') }}"></script>
</body>
</html>