<footer class="page-footer elegant-color center-on-small-only fixed-bottom">
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright: Ngoie Muya Jumael

        </div>
    </div>
    <!--/.Copyright-->

</footer>