{% extends 'Base.html' %}


{% block title %}
    Jumael project
{% endblock %}

{% block navbar %}
    {% include 'navbar_default.html' %}
{% endblock %}
{% block content %}
    <div class="col-8 offset-2 mt-5">
        <div class="jumbotron mt-5">
            <h1 class="h1-responsive">Bienvenue a vous</h1>
            <p class="lead">veuillez choisir votre categorie</p>
            <hr class="my-2">
            <div class="offset-3">
                <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('admin_log') }}">Administrateur</a>
                <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('agents_log') }}">Agent</a>
            </div>
            </div>
    </div>

{% endblock %}

{% block footer %}
    {% include 'Footer_all.html' %}
{% endblock %}

