<nav class="navbar navbar-expand-lg navbar-dark green">

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pointer_presence') }}">Pointer Presences</a>
            </li>


        </ul>
        <ul class="navbar-nav right">
            <li class="nav-item"><h4 class="navbar-text">{{ g.agent['nom'] }}</h4> </li>
            <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Se Deconmecter</a> </li>
        </ul>

    </div>
    <!-- Collapsible content -->

</nav>