{% extends 'Base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
{% endblock %}

{% block navbar %}
    {% include 'navbar_default.html' %}
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}
    <!--Section: Live preview-->
    <form method="post" action="{{ url_for('login_admin') }}">
        <section class="form-simple col-md-4 offset-4" style="margin-top: 7%">

    <!--Form with header-->
    <div class="card">

        <!--Header-->
        <div class="header pt-3 green lighten-2">

            <div class="row d-flex justify-content-start">
                <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Connection Administrateur</h3>
            </div>

        </div>
        <!--Header-->

        <div class="card-body mx-4 mt-4">

            <!--Body-->
            <div class="md-form">
                <input type="text" id="Form-email4" class="form-control" name="username">
                <label for="Form-email4">nom d'utilisateur</label>
            </div>

            <div class="md-form pb-3">
                <input type="password" id="Form-pass4" class="form-control" name="password">
                <label for="Form-pass4">mots de passe</label>
            </div>

            <div class="text-center mb-4">
                <button type="submit" class="btn btn-green btn-block z-depth-2">Connection</button>
            </div>
        </div>

    </div>
    <!--/Form with header-->

</section>
    </form>
<!--Section: Live preview-->
{% endblock %}

{% block footer %}
    {% include 'Footer_all.html' %}
{% endblock %}